*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #115;
    width: 100%;
    padding: 0 20%;
    position: fixed;
    top: 0;
    left: 0;
}

header nav ul{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
header nav ul li{
    display: block;
    position: relative;
}
header nav ul li a {
display: block;
padding: 20px 15px;
text-decoration: none;
color: #fff;


}
header nav ul li a:hover{
background-color: #77c;
}

header nav ul li:hover ol{
    display: block;
}
/* замість того щоб вказувати ширину можна просто вакзати те щоб ніякий текст не переносився */
header nav ul ol li{
    white-space: nowrap;
}
header nav ul ol{
    display: none;
    position: absolute;
    right: 0;
    background-color: #115;


}

main{
    min-height: 1000px;
    padding-top: 70px;
}
